{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <h2></h2>
    <table>
        <tr>
            <th>Public Projects</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>IoT-23 Network Security Analysis</td>
            <td class="typewriter" data-text="An in-depth analysis of Machine Learning algorithms the IoT-23 network security dataset. 
                Completed as a Master's Capstone."></td>
        </tr>
        <tr>
            <td>PyLibreNMS</td>
            <td class="typewriter" data-text="A Python wrapper for the LibreNMS web API."></td>
        </tr>
        <tr>
            <td>Personal Website</td>
            <td class="typewriter" data-text="A simple personal websites serving static pages, mainly HTML/CSS, some Flask, some JS."></td>
        </tr>        
        <tr>
            <td>Intellizeek</td>
            <td class="typewriter" data-text="An intelligent, AI-enabled online Zeek IDS written in Go. In early stages."></td>
        </tr>        
    </table>
</div>
{% endblock %}